<!DOCTYPE html>
<html>
	<head>
		<title>BlogEngine3.0</title>
	</head>
	<body>
		<h2>{{ post.title }}</h2>
		<p>{{ post.content }}</p>
		<br><br>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Published</th>
				</tr>
			</thead>
			<tbody>
				{% for each_post in posts %}
					<tr>
						<td>{{ each_post.title }}</td>
						<td>{{ each_post.published }}</td>
						<td><a href="/show_post/{{ each_post.title }}">show</a></td>
						<td><a href="/edit_post/{{ each_post.title }}">edit</a></td>
						<td><a href="/delete_post/{{ each_post.title }}">delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	<a href="/new_post">New post</a>
	</body>
</html>